body {
    background-image: url(../images/bg2.jpg); height: 200vh;
    background-size: 100% auto;
    background-attachment: fixed;
    /* 양수 x오른쪽 y아래 음수 x왼쪽 y위 */
} /* background-시작속성들은 배경이미지 전용 */
#slide_wrap {
    width: 549px; height: 298px; background-color: aqua; /* 테스트는 영문명이고 실제 디자인 색상은 #헥사코드 */
    margin: 109px auto 0;
    overflow:auto /* 피그마 넘친 콘텐츠 숨기기 (동적 기능은 js에서 )*/ 
    
}
#slide_wrap .slide_container {width: max-content;} /* 기본선택값 100% (부모와 같음) */
#slide_wrap .slide_container .slide {width: 549px; height: 298px; display: inline-block;}
#slide_wrap .slide_container .slide:nth-child(1) {background-color: blueviolet;}
#slide_wrap .slide_container .slide:nth-child(2) {background-color: coral;}
#slide_wrap .slide_container .slide:nth-child(3) {background-color: cornflowerblue;}
#slide_wrap .slide_container .slide:nth-child(4) {background-color: brown;}
#slide_wrap .slide_container .prev {}
#slide_wrap .slide_container .next {}
#best_slide_wrap {width: 1200px; background-color: aqua; overflow:auto; margin: 100px auto 0;}
#best_slide_wrap h1 {text-align: center;}
#best_slide_wrap .slide_container {width: max-content;}
#best_slide_wrap .slide_container .slide {
    width: 600px; height: 400px;
    /* display: inline-block; */
    float: left; /* 형제관계들을 옆으로 나열하는 레이아웃 */
}
/* 인라인 블록으로 옆으로 정렬 시 기본여백발생으로 margin-right:-3px로 제거하는 작업을 해줘야 한다. */
#best_slide_wrap .slide_container .slide:nth-child(1) {background-color: aquamarine;}
#best_slide_wrap .slide_container .slide:nth-child(2) {background-color: beige; clear: both;}
#best_slide_wrap .slide_container .slide:nth-child(3) {background-color: yellow;}
/* float:none : 플로트를 모두 해제함. */
/* clear:both : 이전 형제에서 온 float를 모두 해제함. */
#best_slide_wrap .slide_container .slide:nth-child(4) {background-color: violet;}
#best_slide_wrap .prev {}
#best_slide_wrap .next {}