/* design_css */
body {
}
#news {
    background-color: #C29482;
    width: 393px; height: 852px;
    padding:15px 30px;
}
#news > * {padding-bottom: 25px;} /* >a, .box , >p */
#news > a {
    display: block;
    font-size:1.25rem;
    font-weight:600;
}
#news .box {}
#news .box a {}
#news .box a * {display:inline;}
#news .box a h2 {
    padding-bottom: 25px;
    font-size: 1.88em;
    font-weight: 300;
    
}
#news .box a p {
    font-size: 0.88rem;
    font-weight: 400;
    
}
#news > p {}
#news > p span {}