/* 테두리: 선두께 - 선모양 - 선색상; */
table {margin-bottom: 50px;}
#t1 {
    border: 1px solid black;
    background-color: antiquewhite;
}
#t1 tr {}
#t1 tr:nth-child(2) {
    background-color: aquamarine;
}
#t1 tr th {
    border-bottom: 1px solid;
    border: 1px solid;
    padding: 10px 0px;
}
#t1 tr td {
    border: 1px dotted red;
    padding: 10px; /* 표의 여백은 열(td , th)적용 */
}
#t1 tr th:nth-child(1) {
    border-right: 1px solid orange;
}
#t2 {
    border: 1px solid;
    width: 400px;
    text-align: center;
}
#t2 tr {
    border-bottom: 1px solid;
}
#t2 tr th {
    border: 1px solid darkblue;
    padding: 10px;
    background-color: cornflowerblue;
}
#t2 tr th:nth-child(1),
#t2 tr th:nth-child(2) {width: 50px;}
/* 전체 테이블 크기와 개별 열에 크기를 줫을 때 기준 */
#t2 tbody {background-color: bisque;}
#t2 tr td {
    border-right: 1px solid;
    padding: 10px;
    
}
/* 교보문고 도서재고 */
#kyobo {}
#kyobo h1 {}
#kyobo #book {
    background-color: #DEDCDC;
    width: 700px;
    border-radius: 15px;
}
/* 공통 열 선택자 */
#kyobo #book th,
#kyobo #book td {padding: 15px 0;}
#kyobo #book thead {}
#kyobo #book thead tr {}
#kyobo #book thead tr th {}
#kyobo #book thead tr th:nth-child(1) ~ th {width: 80px;} /* 형제선택자 적용법 */
/* 1을 기준으로 뒤에 태그들을 전부 잡겠다. (~) */
#kyobo #book tbody {}
#kyobo #book tbody tr {}
#kyobo #book tbody tr:nth-child(2) {border: 2px solid #FF006F;}
#kyobo #book tbody tr:nth-child(2) td,
#kyobo #book tbody tr:nth-child(2) th {color: #FF006F;}
#kyobo #book tbody tr th {
    text-align: left;
    padding-left: 15px;
}
#kyobo #book tbody tr td {
    text-align: center;
}
#kyobo #book tbody tr td:nth-child() {}

/* 행정안전부 */
#wrap {
    width: 1620px;
    margin: 0 auto; padding: 50px 0;
}
#wrap .top {
    width: 750px;
    margin: 0 auto;
}
#wrap .top h1 {display: inline-block;}
#wrap .top p {display: inline-block;}
#wrap #sales {
    background-color:#ddd;
    width: 750px; margin: 20px auto 0;
}
#wrap #sales th,
#wrap #sales td {padding: 10px 0;}
#wrap #sales thead {
    border: 1px solid;
    border-left: 0;
    border-right: 0;
}
#wrap #sales thead tr {}
#wrap #sales thead tr th {
    text-align: center;
}
#wrap #sales thead tr th:nth-child(1) ~ th {width: 100px;}
#wrap #sales tbody {}
#wrap #sales tbody tr:nth-child(3) {background-color: #8EB681;}
#wrap #sales tbody tr th {}
#wrap #sales tbody tr td {
    text-align: center;
}

/* 폰 */
#phone {}
#phone #pay {
    width: 1100px;
}
#phone #pay thead {
    border: 2px solid;
    border-left: 0;
    border-right: 0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {border-bottom: 1px dotted;}
#phone #pay thead tr th {
    padding: 20px;
    width: 200px;
}
#phone #pay thead tr th:nth-child(2) {border-: 1px dotted;}
#phone #pay thead tr th img {width: 100px;}
#phone #pay thead tr th em {
    display: block;
    font-size: 0.75rem;
    color: #DEDCDC;
}